<h1> Edit My Food Preferences </h1>

<%= bootstrap_form_for @user do |f| %>
  <%= f.collection_radio_buttons :diet_id, Diet.all, :id, :name %> <br />
  <%= f.collection_check_boxes :intolerance_ids, Intolerance.all, :id, :name%> </br> 
  <%= f.submit %>
</div>
<% end %>
