<ham><h1> Snacker Requests </h1>
<h1> <small> Snackers who want to get cookin' with you </small> </h1></ham>

<% @incoming.each do |friendrequest| %>
	<p> User.find(friendrequest.user_id).name </p>
<% end %>